Amoozeshgah.WebReferences/Web References/ir.shaparak.pec/OnlineMultiplexedSalePaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://pec.Shaparak.ir/NewIPGServices/Sale/OnlineMultiplexedSalePaymentService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/OnlineMultiplexedSalePaymentService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://pec.Shaparak.ir/NewIPGServices/Sale/OnlineMultiplexedSalePaymentService">
      <s:element name="MultiplexedSalePaymentRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestData" type="tns:ClientMultiplexedSalePaymentRequestData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientMultiplexedSalePaymentRequestData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentRequestDataBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="MultiplexedAccounts" type="tns:ArrayOfAccount" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentRequestDataBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CallBackUrl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdditionalData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Originator" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PayId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MultiplexedSalePaymentRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MultiplexedSalePaymentRequestResult" type="tns:ClientSaleResponseData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ClientSaleResponseData">
        <s:complexContent mixed="false">
          <s:extension base="tns:ClientPaymentResponseDataBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ClientPaymentResponseDataBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Token" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:short" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MultiplexedSalePaymentRequestSoapIn">
    <wsdl:part name="parameters" element="tns:MultiplexedSalePaymentRequest" />
  </wsdl:message>
  <wsdl:message name="MultiplexedSalePaymentRequestSoapOut">
    <wsdl:part name="parameters" element="tns:MultiplexedSalePaymentRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineMultiplexedSalePaymentServiceSoap">
    <wsdl:operation name="MultiplexedSalePaymentRequest">
      <wsdl:input message="tns:MultiplexedSalePaymentRequestSoapIn" />
      <wsdl:output message="tns:MultiplexedSalePaymentRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineMultiplexedSalePaymentServiceSoap" type="tns:OnlineMultiplexedSalePaymentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiplexedSalePaymentRequest">
      <soap:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/OnlineMultiplexedSalePaymentService/MultiplexedSalePaymentRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineMultiplexedSalePaymentServiceSoap12" type="tns:OnlineMultiplexedSalePaymentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MultiplexedSalePaymentRequest">
      <soap12:operation soapAction="https://pec.Shaparak.ir/NewIPGServices/Sale/OnlineMultiplexedSalePaymentService/MultiplexedSalePaymentRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineMultiplexedSalePaymentService">
    <wsdl:port name="OnlineMultiplexedSalePaymentServiceSoap" binding="tns:OnlineMultiplexedSalePaymentServiceSoap">
      <soap:address location="https://pec.shaparak.ir/NewIPGServices/MultiplexedSale/OnlineMultiplexedSalePaymentService.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineMultiplexedSalePaymentServiceSoap12" binding="tns:OnlineMultiplexedSalePaymentServiceSoap12">
      <soap12:address location="https://pec.shaparak.ir/NewIPGServices/MultiplexedSale/OnlineMultiplexedSalePaymentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>